<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

<h2>Login</h2>

<input id="email" placeholder="Email"><br><br>
<input id="password" type="password" placeholder="Password"><br><br>

<button onclick="login()">Login</button>

<p id="msg"></p>

<a href="/signup">Create account</a>

<script>
async function login() {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    const res = await fetch("/auth/login?email=" + email + "&password=" + password, {
        method: "POST"
    });

    const data = await res.json();

    if (data.access_token) {
        localStorage.setItem("token", data.access_token);
        window.location.href = "/dashboard";
    } else {
        document.getElementById("msg").innerText = data.detail;
    }
}
</script>

</body>
</html>